@{
    ViewBag.Title = "About";
}
<body>
<div class="position-relative">
    <img src="/Billeder/scrap.jpg" alt="mockup" class="w-full h-full bg-no-repeat brightness-50">
</div>
</body>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
